<!-- Vista de la página de 404 -->
<div class="box navbar-dark bg-dark">
    <p class="glitch" data-text="Error 404">Error 404</p>
    <div class="box__ghost">
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>

        <div class="box__ghost-container">
            <div class="box__ghost-eyes">
                <div class="box__eye-left"></div>
                <div class="box__eye-right"></div>
            </div>
            <div class="box__ghost-bottom">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="box__ghost-shadow"></div>
    </div>

    <div class="box__description">
        <div class="box__description-container">
            <div class="box__description-title">
                ¡Vaya!<br>La página que intentas solicitar no se encuentra en el servidor
            </div>
        </div>

        <a [routerLink]="['/eventos']" class="box__button">Volver</a>

    </div>
</div>


